
.card{
    min-height: 450px;
    background-color: white;
    width: 400px;
    border: 1px solid hsla(0, 0%, 0%, 0.3);
    border-radius: 4px;
    overflow: hidden;

    img {
        width: 100%;
    }
}

p{
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: hsl(0, 0%, 36%);
    font-size: 18px;
}