.card {
  min-height: 450px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.info-like {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;

  p {
    text-align: center;
    color: hsl(0, 0%, 36%);
    font-size: 18px;
  }

  .heart-btn {
    input {
      display: none;
    }

    span {
      display: inline-block;
      width: 25px;
      height: 25px;
      background-image: url("/assets/img/empty-heart.png");
      background-size: cover;
      cursor: pointer;
    }

    span:hover {
      transform: scale(1.1);
    }

    input:checked + span {
      background-image: url("/assets/img/full-heart.png");
    }
  }
}
