.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 50px;
}

.flexrow {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;

  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
}
